<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Form Brand</title>
</head>
<body>
<form  th:action="@{/brand/edit/{id}(id=${brandDTO.id})}" th:method="Patch"  th:object="${brandDTO}">
    <div>
<!--        <input type="hidden" th:field="*{id}" th:readonly="true">-->

        <label>Название Бренда</label>
        <input type="text" th:field="*{name}">
    </div>
    <br>
    <div>
        <button type="submit">Изменить название Бреда</button>
    </div>
</form>
</body>
</html>