<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Manufacturer</title>
</head>
<body>
<table>
<thead>
<tr>
    <th>Производитель</th>
    <th>Изменить</th>
    <th>Добавить Бренд</th>
    <th>Показать информацию по бренду</th>
</tr>
</thead>
<tbody>
<tr th:each="manufacturer : ${manufacturerDTOList}">
    <td th:text="${manufacturer.name}"></td>
    <td><a th:href="@{/manufacturer/edit/{id}(id=${manufacturer.id})}">Edit</a></td>
    <td><a th:href="@{/brand/add/manufacturer/{id}(id=${manufacturer.id})}">Add</a></td>
    <td><a th:href="@{/manufacturer/{id}(id=${manufacturer.id})}">Show</a></td>
</tr>
</tbody>
</table>
<br>
<div>
    <form th:method="GET" th:action="@{/manufacturer/add}">
        <button type="submit">Добавить Производителя</button>
    </form>

</div>
</body>
</html>