<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Country</title>
</head>
<body>
<form th:action="@{/country/save}" th:method="post" th:object="${countryDTO}">
    <div>
        <label for="countryName"> Название страны</label>
        <br>
        <input type="text" th:field="*{name}" id="countryName">
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

    </div>
    <br>
    <div>
        <button type="submit">Добавить страну</button>
    </div>
</form>


</body>
</html>