<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Cognac</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Страна</th>
        <th>Регион</th>
        <th>Производитель</th>
        <th>Бренд</th>
        <th>Возраст</th>
        <th>Объем бутылки</th>
        <th>Крепость</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="cognac : ${allCognacs}">
        <td th:text="${cognac.country.name}"></td>
        <td th:data="${cognac.region.name}"></td>
        <td th:text="${cognac.manufacturer.name}"></td>
        <td th:text="${cognac.brand.name}"></td>
        <td th:text="${cognac.yearsOld}"></td>
        <td th:text="${cognac.bottleVolume}"></td>
        <td th:text="${cognac.alcoholVolume}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>